# 準備

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys

sys.path.append("../src")

In [3]:
import pandas as pd

import mymodule

In [4]:
pd.set_option("display.max_columns", 100)

## competions

In [5]:
compe_df = mymodule.read_competitions()

print(compe_df.shape)
compe_df.head()

(71, 12)

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,9,27,Germany,1. Bundesliga,male,False,False,2015/2016,2023-12-12T07:43:33.436182,None,None,2023-12-12T07:43:33.436182
1,1267,107,Africa,African Cup of Nations,male,False,True,2023,2024-02-14T05:41:27.566989,None,None,2024-02-14T05:41:27.566989
2,16,4,Europe,Champions League,male,False,False,2018/2019,2023-03-07T12:20:48.118250,2021-06-13T16:17:31.694,None,2023-03-07T12:20:48.118250
3,16,1,Europe,Champions League,male,False,False,2017/2018,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-01-23T21:55:30.425330
4,16,2,Europe,Champions League,male,False,False,2016/2017,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00

In [6]:
compe_df[(compe_df.competition_name=="FIFA World Cup")&(compe_df.season_name=="2022")].T

                                                   27
competition_id                                     43
season_id                                         106
country_name                            International
competition_name                       FIFA World Cup
competition_gender                               male
competition_youth                               False
competition_international                        True
season_name                                      2022
match_updated              2023-11-05T04:23:26.649917
match_updated_360          2023-11-21T15:37:11.589616
match_available_360        2023-11-21T15:37:11.589616
match_available            2023-11-05T04:23:26.649917

## matches

In [7]:
match_df, home_manager_df, away_manager_df = mymodule.read_matches(43, 106)

print(match_df.shape)
match_df.head()

(64, 40)

,match_id,match_date,kick_off,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,match_week,competition.competition_id,competition.country_name,competition.competition_name,season.season_id,season.season_name,home_team.home_team_id,home_team.home_team_name,home_team.home_team_gender,home_team.home_team_group,home_team.country.id,home_team.country.name,away_team.away_team_id,away_team.away_team_name,away_team.away_team_gender,away_team.away_team_group,away_team.country.id,away_team.country.name,metadata.data_version,metadata.shot_fidelity_version,metadata.xy_fidelity_version,competition_stage.id,competition_stage.name,stadium.id,stadium.name,stadium.country.id,stadium.country.name,referee.id,referee.name,referee.country.id,referee.country.name
0,3857256,2022-12-02,21:00:00.000,2,3,available,available,2023-02-17T23:45:15.306706,2023-04-26T23:49:58.956186,3,43,International,FIFA World Cup,106,2022,786,Serbia,male,G,203,Serbia,773,Switzerland,male,G,221,Switzerland,1.1.0,2,2,10,Group Stage,1001115,Stadium 974,185,Qatar,1121.0,Fernando Andrés Rapallini,11.0,Argentina
1,3869151,2022-12-03,21:00:00.000,2,1,available,available,2023-07-30T07:46:05.382784,2023-07-30T07:48:51.865595,4,43,International,FIFA World Cup,106,2022,779,Argentina,male,None,11,Argentina,792,Australia,male,None,14,Australia,1.1.0,2,2,33,Round of 16,1000793,Ahmad bin Ali Stadium,185,Qatar,367.0,Szymon Marciniak,182.0,Poland
2,3857257,2022-11-30,17:00:00.000,1,0,available,available,2023-04-28T17:13:10.958725,2023-06-20T11:04:37.638969,3,43,International,FIFA World Cup,106,2022,792,Australia,male,D,14,Australia,776,Denmark,male,D,61,Denmark,1.1.0,2,2,10,Group Stage,117897,Al Janoub Stadium,185,Qatar,2311.0,Mustapha Ghorbal,4.0,Algeria
3,3857258,2022-11-24,21:00:00.000,2,0,available,available,2023-06-24T17:17:27.911026,2023-07-11T14:56:31.096588,1,43,International,FIFA World Cup,106,2022,781,Brazil,male,G,31,Brazil,786,Serbia,male,G,203,Serbia,1.1.0,2,2,10,Group Stage,1001114,Lusail Stadium,185,Qatar,741.0,Alireza Faghani,107.0,"Iran, Islamic Republic of"
4,3857288,2022-11-26,12:00:00.000,0,1,available,available,2023-02-28T21:25:20.888552,2023-04-27T00:30:07.835815,2,43,International,FIFA World Cup,106,2022,777,Tunisia,male,D,232,Tunisia,792,Australia,male,D,14,Australia,1.1.0,2,2,10,Group Stage,117897,Al Janoub Stadium,185,Qatar,225.0,Daniel Siebert,85.0,Germany

In [8]:
print(home_manager_df.shape)
home_manager_df.head()

(64, 7)

,id,name,nickname,dob,country.id,country.name,match_id
0,5908,Dragan Stojković,None,1965-03-03,203,Serbia,3857256
1,5677,Lionel Sebastián Scaloni,None,1978-05-16,11,Argentina,3869151
2,5696,Graham James Arnold,None,1963-08-03,14,Australia,3857257
3,4704,Telê Santana da Silva,Telê Santana,1931-07-26,31,Brazil,3857258
4,1001303,Jalel Kadri,None,None,232,Tunisia,3857288

In [9]:
print(away_manager_df.shape)
away_manager_df.head()

(64, 7)

,id,name,nickname,dob,country.id,country.name,match_id
0,2832,Murat Yakin,None,1974-09-15,221,Switzerland,3857256
1,5696,Graham James Arnold,None,1963-08-03,14,Australia,3869151
2,255,Kasper Hjulmand,None,1972-04-09,61,Denmark,3857257
3,5908,Dragan Stojković,None,1965-03-03,203,Serbia,3857258
4,5696,Graham James Arnold,None,1963-08-03,14,Australia,3857288

In [10]:
match_df[(match_df["home_team.home_team_name"]=="Japan")|((match_df["away_team.away_team_name"]=="Japan"))]

,match_id,match_date,kick_off,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,match_week,competition.competition_id,competition.country_name,competition.competition_name,season.season_id,season.season_name,home_team.home_team_id,home_team.home_team_name,home_team.home_team_gender,home_team.home_team_group,home_team.country.id,home_team.country.name,away_team.away_team_id,away_team.away_team_name,away_team.away_team_gender,away_team.away_team_group,away_team.country.id,away_team.country.name,metadata.data_version,metadata.shot_fidelity_version,metadata.xy_fidelity_version,competition_stage.id,competition_stage.name,stadium.id,stadium.name,stadium.country.id,stadium.country.name,referee.id,referee.name,referee.country.id,referee.country.name
24,3869219,2022-12-05,17:00:00.000,1,1,available,available,2023-03-18T12:56:12.567784,2023-06-21T16:56:21.929024,4,43,International,FIFA World Cup,106,2022,778,Japan,male,None,114,Japan,785,Croatia,male,None,56,Croatia,1.1.0,2,2,33,Round of 16,117897,Al Janoub Stadium,185,Qatar,438.0,Ismail Elfath,241.0,United States of America
31,3857295,2022-11-27,12:00:00.000,0,1,available,available,2023-06-18T15:29:02.960922,2023-06-20T11:17:33.935113,2,43,International,FIFA World Cup,106,2022,778,Japan,male,E,114,Japan,795,Costa Rica,male,E,54,Costa Rica,1.1.0,2,2,10,Group Stage,1000793,Ahmad bin Ali Stadium,185,Qatar,1.0,Michael Oliver,68.0,England
33,3857284,2022-11-23,15:00:00.000,1,2,available,available,2023-03-18T22:38:08.361625,2023-04-27T00:40:34.335400,1,43,International,FIFA World Cup,106,2022,770,Germany,male,E,85,Germany,778,Japan,male,E,114,Japan,1.1.0,2,2,10,Group Stage,1000253,Sheikh Khalifa International Stadium,185,Qatar,1834.0,Ivan Arcides Barton Cisneros,67.0,El Salvador
62,3857255,2022-12-01,21:00:00.000,2,1,available,available,2023-03-30T12:03:47.965683,2023-04-26T23:51:48.352990,3,43,International,FIFA World Cup,106,2022,778,Japan,male,E,114,Japan,772,Spain,male,E,214,Spain,1.1.0,2,2,10,Group Stage,1000253,Sheikh Khalifa International Stadium,185,Qatar,2366.0,Victor Miguel de Freitas Gomes,211.0,South Africa

## lineup

In [11]:
lineup_df, cards_df, positions_df = mymodule.read_lineups(3869219)

print(lineup_df.shape)
lineup_df.head()

(48, 8)

,player_id,player_name,player_nickname,jersey_number,country.id,country.name,team_id,team_name
0,3175,Eiji Kawashima,None,1,114,Japan,778,Japan
1,3300,Maya Yoshida,None,22,114,Japan,778,Japan
2,3530,Hiroki Sakai,None,19,114,Japan,778,Japan
3,5690,Yuto Nagatomo,None,5,114,Japan,778,Japan
4,5693,Gaku Shibasaki,None,7,114,Japan,778,Japan

In [12]:
print(cards_df.shape)
cards_df.head()

(2, 6)

    time    card_type          reason  period player_id    player_name
0  89:30  Yellow Card  Foul Committed       2      5456  Mateo Kovačić
1  11:26  Yellow Card  Foul Committed       4     11127  Borna Barišić

In [13]:
print(positions_df.shape)
positions_df.head()

(43, 10)

,position_id,position,from,to,from_period,to_period,start_reason,end_reason,player_id,player_name
0,4,Center Back,00:00,None,1,NaN,Starting XI,Final Whistle,3300,Maya Yoshida
1,21,Left Wing,73:54,74:20,2,2.0,Substitution - On (Tactical),Tactical Shift,3530,Hiroki Sakai
2,7,Right Wing Back,74:20,None,2,NaN,Tactical Shift,Final Whistle,3530,Hiroki Sakai
3,8,Left Wing Back,00:00,63:17,1,2.0,Starting XI,Substitution - Off (Tactical),5690,Yuto Nagatomo
4,17,Right Wing,00:00,86:09,1,2.0,Starting XI,Substitution - Off (Tactical),8361,Ritsu Doan

## Events

In [14]:
events_df, tactics_lineup_df, related_events_df, shot_freeze_frame_df = mymodule.read_events(3869219)

print(events_df.shape)
events_df.head()

(4559, 120)

,id,index,period,timestamp,minute,second,possession,duration,type.id,type.name,possession_team.id,possession_team.name,play_pattern.id,play_pattern.name,team.id,team.name,tactics.formation,player.id,player.name,position.id,position.name,pass.recipient.id,pass.recipient.name,pass.length,pass.angle,pass.height.id,pass.height.name,pass.body_part.id,pass.body_part.name,pass.type.id,pass.type.name,under_pressure,duel.type.id,duel.type.name,pass.aerial_won,pass.cross,pass.outcome.id,pass.outcome.name,clearance.right_foot,clearance.body_part.id,clearance.body_part.name,ball_recovery.recovery_failure,clearance.left_foot,foul_won.defensive,pass.switch,out,pass.assisted_shot_id,pass.shot_assist,shot.statsbomb_xg,shot.key_pass_id,...,interception.outcome.name,counterpress,dribble.overrun,dribble.outcome.id,dribble.outcome.name,duel.outcome.id,duel.outcome.name,shot.one_on_one,goalkeeper.technique.id,goalkeeper.technique.name,goalkeeper.body_part.id,goalkeeper.body_part.name,goalkeeper.outcome.id,goalkeeper.outcome.name,pass.through_ball,pass.technique.id,pass.technique.name,pass.no_touch,foul_committed.type.id,foul_committed.type.name,foul_committed.offensive,clearance.other,pass.deflected,block.deflection,shot.first_time,pass.inswinging,50_50.outcome.id,50_50.outcome.name,pass.goal_assist,substitution.outcome.id,substitution.outcome.name,substitution.replacement.id,substitution.replacement.name,pass.cut_back,injury_stoppage.in_chain,foul_committed.card.id,foul_committed.card.name,pass.outswinging,goalkeeper.punched_out,location_x,location_y,pass.end_location_x,pass.end_location_y,carry.end_location_x,carry.end_location_y,shot.end_location_x,shot.end_location_y,shot.end_location_z,goalkeeper.end_location_x,goalkeeper.end_location_y
0,c28d2905-359f-4bff-898e-0788e72b8841,1,1,00:00:00.000,0,0,1,0.000000,35,Starting XI,778,Japan,1,Regular Play,778,Japan,343.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8062c817-3bf0-4655-abb2-6ab5d1f7bf02,2,1,00:00:00.000,0,0,1,0.000000,35,Starting XI,778,Japan,1,Regular Play,785,Croatia,433.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,fa7ec4c4-e3c0-4a50-b368-79428b8ff77a,3,1,00:00:00.000,0,0,1,0.000000,18,Half Start,778,Japan,1,Regular Play,778,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,d0889877-e264-4c98-b57c-d36e064e69da,4,1,00:00:00.000,0,0,1,0.000000,18,Half Start,778,Japan,1,Regular Play,785,Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1ba21952-fd29-464e-ab1c-1de5b067a458,5,1,00:00:00.324,0,0,2,1.962297,30,Pass,785,Croatia,9,From Kick Off,785,Croatia,NaN,5460.0,Andrej Kramarić,17.0,Right Wing,3471.0,Dejan Lovren,27.085236,2.933336,1.0,Ground Pass,40.0,Right Foot,65.0,Kick Off,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,40.1,34.5,45.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
print(tactics_lineup_df.shape)
tactics_lineup_df.head()

(66, 6)

,jersey_number,player.id,player.name,position.id,position.name,id
0,12,25719,Shūichi Gonda,1,Goalkeeper,c28d2905-359f-4bff-898e-0788e72b8841
1,16,23730,Takehiro Tomiyasu,3,Right Center Back,c28d2905-359f-4bff-898e-0788e72b8841
2,22,3300,Maya Yoshida,4,Center Back,c28d2905-359f-4bff-898e-0788e72b8841
3,3,37215,Shogo Taniguchi,5,Left Center Back,c28d2905-359f-4bff-898e-0788e72b8841
4,14,23527,Junya Ito,7,Right Wing Back,c28d2905-359f-4bff-898e-0788e72b8841

In [16]:
print(related_events_df.shape)
related_events_df.head()

(6386, 2)

                                     id                        related_events
0  fa7ec4c4-e3c0-4a50-b368-79428b8ff77a  d0889877-e264-4c98-b57c-d36e064e69da
1  d0889877-e264-4c98-b57c-d36e064e69da  fa7ec4c4-e3c0-4a50-b368-79428b8ff77a
2  1ba21952-fd29-464e-ab1c-1de5b067a458  0cf64a1d-18ec-473b-9593-61cd280004b6
3  0cf64a1d-18ec-473b-9593-61cd280004b6  1ba21952-fd29-464e-ab1c-1de5b067a458
4  c14f021a-e295-44ef-80cf-6cdc545ab0d5  0cf64a1d-18ec-473b-9593-61cd280004b6

In [17]:
print(shot_freeze_frame_df.shape)
shot_freeze_frame_df.head()

(446, 8)

,teammate,player.id,player.name,position.id,position.name,id,location_x,location_t
0,False,16531,Dominik Livaković,1,Goalkeeper,3e282518-80cc-4cba-a8bf-f978a3bdc68b,118.8,39.6
1,False,5474,Ivan Perišić,21,Left Wing,3e282518-80cc-4cba-a8bf-f978a3bdc68b,110.7,45.0
2,False,3471,Dejan Lovren,3,Right Center Back,3e282518-80cc-4cba-a8bf-f978a3bdc68b,113.2,40.0
3,False,29163,Josip Juranović,2,Right Back,3e282518-80cc-4cba-a8bf-f978a3bdc68b,113.3,35.9
4,False,11127,Borna Barišić,6,Left Back,3e282518-80cc-4cba-a8bf-f978a3bdc68b,108.3,43.2

## three-sixty

In [18]:
visible_area_df, freeze_frame_df = mymodule.read_360(3869219)

print(visible_area_df.shape)
visible_area_df.head()

(4089, 3)

,event_uuid,visible_area_x,visible_area_y
0,1ba21952-fd29-464e-ab1c-1de5b067a458,"[24.6058391541244, 44.6647664195803, 76.776769...","[80.0, 8.32586564845548, 7.88770051727223, 80...."
1,0cf64a1d-18ec-473b-9593-61cd280004b6,"[14.9981430424541, 39.5708959333648, 70.062210...","[80.0, 8.78067699670409, 11.3640557550248, 80...."
2,c14f021a-e295-44ef-80cf-6cdc545ab0d5,"[14.9981430424541, 39.5708959333648, 70.062210...","[80.0, 8.78067699670409, 11.3640557550248, 80...."
3,af0efa1b-a646-441a-8311-e89cbf515fcc,"[11.4723843388591, 37.5213943503887, 64.868019...","[80.0, 8.52940350656421, 12.4299850716692, 80...."
4,a2b1cffd-0aa8-4d2b-abf7-4ac28aeffacd,"[73.4271905251666, 66.8375955822834, 94.507139...","[80.0, 11.478271875683, 0.0, 0.0, 37.378925882..."

In [19]:
print(freeze_frame_df.shape)
freeze_frame_df.head()

(58270, 6)

,teammate,actor,keeper,event_uuid,location_x,location_y
0,True,False,False,1ba21952-fd29-464e-ab1c-1de5b067a458,47.899534,14.890119
1,True,False,False,1ba21952-fd29-464e-ab1c-1de5b067a458,50.119835,35.537936
2,True,False,False,1ba21952-fd29-464e-ab1c-1de5b067a458,52.060930,45.563418
3,True,False,False,1ba21952-fd29-464e-ab1c-1de5b067a458,52.498809,57.201374
4,True,False,False,1ba21952-fd29-464e-ab1c-1de5b067a458,59.704961,18.896921